[Desktop Entry]
Version=1.1
Type=Application
Name=PenguinClip
GenericName=Clipboard Manager
Comment=Security-hardened Clipboard History Manager for Linux
Exec=penguinclip
Icon=penguinclip
Terminal=false
Categories=Utility;GTK;
Keywords=clipboard;history;paste;copy;emoji;gif;security;
StartupWMClass=penguinclip
StartupNotify=true
